*.env
*.vscode
*__pycache__
*.pkl
*.bak
*.csv
*.log
**/test

sandboxes
df_generator/output
df_generator/files/tlsh
df_generator/files/tlsh.zip
df_generator/data/output
df_generator/data/testing
df_generator/data/save_files
df_generator/data/final/
df_generator/config.yaml
